//480px

@media screen and (max-width: 959px) {
  body{
    min-width: 480px;
  }

  .w, .w2{
      width: 90%;
      margin: 0 5% 0.5%;
  }

  .article_content1, .article_content2{
    width: 90%;
  }


}

