/* line 5, ../sass/styles960.scss */
* {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* line 10, ../sass/styles960.scss */
body {
  min-width: 960px;
}

/* line 16, ../sass/styles960.scss */
header {
  background: url("../images/header_bg.png") center;
  background-size: cover;
  text-align: center;
  color: white;
  margin-bottom: 160px;
}

/* line 24, ../sass/styles960.scss */
.header_container {
  padding: 293px 0 115px 0;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

/* line 31, ../sass/styles960.scss */
.header_title {
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-top: 74px;
  line-height: 70px;
}

/* line 40, ../sass/styles960.scss */
.header_content {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 31px;
  margin-top: 28px;
  margin-bottom: 234px;
}

/* line 51, ../sass/styles960.scss */
.main_container {
  position: relative;
  margin: 156px auto;
  border: 2px solid #3c3c3c;
  max-width: 900px;
  width: 90%;
  text-align: center;
}

/* line 60, ../sass/styles960.scss */
.content_title {
  position: absolute;
  width: 50%;
  text-align: center;
  right: 25%;
  background-color: white;
  height: 18px;
  top: -17px;
  color: #3c3c3c;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 76, ../sass/styles960.scss */
article {
  margin-top: 67px;
}

/* line 80, ../sass/styles960.scss */
.article_content1, .article_content2 {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/* line 87, ../sass/styles960.scss */
.article_content1 {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

/* line 94, ../sass/styles960.scss */
.article_content2 {
  width: 50%;
  margin: 23px auto;
  text-align: center;
  padding-bottom: 30px;
}

/* line 101, ../sass/styles960.scss */
.services {
  padding-bottom: 235px;
  background: url("../images/content_bg.png") center;
  background-size: cover;
}
/* line 106, ../sass/styles960.scss */
.services article {
  padding-bottom: 87px;
  padding-top: 83px;
}
/* line 111, ../sass/styles960.scss */
.services .content_title {
  color: white;
}
/* line 115, ../sass/styles960.scss */
.services .content_title {
  background-color: transparent;
}
/* line 119, ../sass/styles960.scss */
.services .article_content1 {
  color: white;
}
/* line 123, ../sass/styles960.scss */
.services .main_container {
  border-top: none;
  border-right: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  top: 126px;
}

/* line 132, ../sass/styles960.scss */
.serv_border {
  height: 2px;
  background-color: white;
  width: 27%;
  position: absolute;
}

/* line 139, ../sass/styles960.scss */
.right {
  right: 0;
}

/* line 148, ../sass/styles960.scss */
.what_we_do .main_container {
  margin: 125px auto;
}
/* line 152, ../sass/styles960.scss */
.what_we_do h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 31px;
  letter-spacing: 3px;
}

/* line 162, ../sass/styles960.scss */
.what_we_do_content {
  background-repeat: no-repeat;
  padding-top: 120px;
  background-position-x: center;
}

/* line 169, ../sass/styles960.scss */
.design {
  background-image: url("../images/design_img.png");
  margin-top: 115px;
}

/* line 174, ../sass/styles960.scss */
.development {
  background-image: url("../images/development_img.png");
  margin-top: 75px;
}

/* line 179, ../sass/styles960.scss */
.product {
  background-image: url("../images/product_img.png");
  margin-top: 83px;
  padding-bottom: 100px;
}

/* line 189, ../sass/styles960.scss */
.menu a {
  display: block;
  float: left;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  height: 237px;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding-top: 168px;
  padding-left: 48px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
}
/* line 206, ../sass/styles960.scss */
.menu a:hover {
  color: black;
  border: 2px solid black;
}

/* line 212, ../sass/styles960.scss */
.clear_fix {
  clear: both;
}

/* line 216, ../sass/styles960.scss */
.w {
  width: 28%;
}

/* line 220, ../sass/styles960.scss */
.w2 {
  width: 43%;
}

/* line 224, ../sass/styles960.scss */
.topworkz {
  background-image: url("../images/worktop_img.png");
  margin: 0 0.5% 0.5% 0;
}

/* line 229, ../sass/styles960.scss */
.joint {
  background-image: url("../images/joint_img.png");
  margin: 0 0.5% 0.5% 0;
}

/* line 234, ../sass/styles960.scss */
.market {
  background-image: url("../images/market_img.png");
  margin: 0 0 0.5% 0;
}

/* line 239, ../sass/styles960.scss */
.worktop {
  background-image: url("../images/worktop_img.png");
  margin: 0 0.5% 0.5% 0;
}

/* line 244, ../sass/styles960.scss */
.lable {
  background-image: url("../images/lable_img.png");
  margin: 0 0.5% 0 0;
}

/* line 249, ../sass/styles960.scss */
.kyiv {
  background-image: url("../images/kyiv_img.png");
}

/* line 257, ../sass/styles960.scss */
footer .article_content1 {
  margin-top: 68px;
  margin-bottom: 43px;
}
/* line 262, ../sass/styles960.scss */
footer .main_container {
  margin: 156px auto 0;
}

/* line 267, ../sass/styles960.scss */
.btn_contact_us {
  display: block;
  width: 395px;
  height: 58px;
  background-color: #3c3c3c;
  border: 2px solid #3c3c3c;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 58px;
  margin: 0 auto 48px;
}

/* line 283, ../sass/styles960.scss */
.btn_contact_us:hover {
  background-color: white;
  color: #3c3c3c;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

/* line 291, ../sass/styles960.scss */
.copy {
  display: block;
  margin: 64px auto 56px;
  background: url(../images/footer_img.png) no-repeat;
  height: 37px;
  width: 380px;
  padding-left: 60px;
  box-sizing: border-box;
  padding-top: 12px;
}
